@model InfoBoxVM

<div id="infoBoxpic">
    <img src="@Model.Image" />
</div>

@*<div id="infoBoxSkills">
        <ul>

            @foreach (var item in Model.Skills)
            {

                @item.Skillset

            }

        </ul>

    </div>*@

<div id="infoBox1">
    <h1>@Model.FirstName @Model.LastName</h1>
    @Model.Description
    <br />
    Consultant skills:
    <ul>
        @foreach (var item in Model.Skills)
        {
            <li>@item</li>
        }
    </ul>
    <br />
    @Model.BullyStatus
</div>

