@model InfoBoxVM


<div id="infoBoxpic">
    <img src="@Model.Image" />
</div>

<div id="infoBox1">
    <h1>@Model.FirstName @Model.LastName</h1>
<div id="infoBox1">
  
    @Model.Description
    <br />
    <h3>Konsultförmågor:</h3>
    <ul>
        @foreach (var item in Model.Skills)
        {
            <li>@item</li>
        }
    </ul>
    <br />
    <h3>Mobbningsstatus</h3>
    @if (Model.BullyStatus == true)
    {<p>Mobbare</p>}
    else
    {<p>Offer</p>}

    <form method="get" action="home/edit/@Model.Id">
        <button type="submit">Uppdatera profil</button>
    </form>

</div>
